body,
html {
  margin:0;
  padding:0;
  background-color:#FFF8FF;
}

body{
}

h1 {
  position:absolute;
  top:0;
  width:100%;
  text-align:center;
  margin-bottom:8px;
  margin-top:12px;
  //border-bottom: blue 4px solid;
}

#hamburger {
 width: 40px;
 height: 40px;
 border: none;
 background-color:white;
 display:none;
}

#hamburger.open {
 display:none;
}

#hamburger.closed {
 display:inline;
}

#hamburger-div {
  position:absolute;
  top:10px;
  left:5px;
  z-index: 50;
}
h4 {
  margin-bottom:2px;
  margin-top:0;
  margin-left:4px;
  color:blue;
}

#wrap {
  position:relative;
  top:0;
  margin:0 auto 0 auto;
  //border: red 1px solid;
}

#leftcolumn {
  position:absolute;
  top:58px;
  left:0;
  width:32%;
  //border: green 1px dotted;
  margin:2px 2px 2px 2px;
  //width:300px;
}

#midcolumn {
  position:absolute;
  top:58px;
  left:33%;
  //float:left;
  width:32%;
  //width:300px;
  //border: green 1px dotted;
  margin:2px 2px 2px 2px;
}

#rightcolumn {
  position:absolute;
  top:50px;
  left:66%;
  //float:right;
  width:32%;
  //border: green 1px dotted;
  margin:2px 2px 2px 2px;
}

#reference {
  //float:left;
  position:relative;
  top:0;
  left:0;
  width:97%;
  margin:2px 2px 2px 2px;
  //height:600px;
  //height:95%;
  border: black 1px solid;
  overflow:auto;
}

#reference.open {
  display:block;
  border: black 1px solid;
  width:97%;
}

#reference.closed {
  display:hidden;
  border: none;
  width:0;
}

#referenceTitle svg {
  float:right;
  display:inline;
  margin-top: 2px;
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

#referenceTitle.open {
  display:block;
}

#referenceTitle.closed {
  display:none;
}

#referenceClose {
  float:right;
  border:none;
  background-color: none;
  width:25px;
  height:25px;
  padding:0;
}

/*
#lefthandle {
  position:absolute;
  top:50;
  right:0;
  background-color:darkgray;
  height:600px;
  width:5px;
}
*/

#lefthandle:hover {
  background-color:gray;
  border: mediumblue 3px solid;
}

#turtlecanvas {
  background:#fff;
  border: 2px solid red;
  width:auto;
  height:auto;
}

#imagecanvas {
  width:auto;
  height:auto;
}

#command, 
#definitions { //input and text area
  background-color:whitesmoke;
  overflow:auto;
  padding:4px;
  margin:0;
  width:96%;
  //height:400px;
  height:90%;
  border:1px solid black;
  resize:none;
}

#command {
  height:20px;
}

#midcolumn button {
  margin:8px;
  padding:3px;
  font-weight:bold;
  font-size:80%;
  border-radius:5px;
  border:black solid 2px;
  background-color:whitesmoke;
}

#rightcolumn select {
  margin:3px;
  margin-left:12px;
  font-size:90%;
}

#reference ul {
  list-style:none;
  margin:0;
  padding:0;
}

#reference li {
  list-style:none;
  margin:0;
  padding:5px;
  background-color:whitesmoke;
  //border:solid darkgray 1px;
}

#reference p {
  margin:.5em 0 0 1em;
  font-size:80%;
}

#reference li li {
  border:none;
  list-style:square;
  margin-left:2em;
}

#reference button { // mostly the color buttons
  display: block;
  width: 7em;
  border:black solid 2px;
  padding: 2px;
  color:black;
  padding: 2px;
  margin:2px;
}

button#black{
  background-color:black;
  color:white;
}

button#blue{
  background-color:blue;
  color:white;
}

button#lime{
  background-color:lime;
}

button#cyan{
  background-color:cyan;
}

button#red{
  background-color:red;
}

button#magenta{
  background-color:magenta;
}

button#yellow{
  background-color:yellow;
}

button#white{
  background-color:white;
}

button#brown{
  background-color:brown;
  color:white;
}

button#tan{
  background-color:tan;
}

button#green{
  background-color:green;
  color:white;
}

button#aqua{
  background-color:aqua;
}

button#salmon{
  background-color:salmon;
}

button#purple{
  background-color:purple;
  color:white;
}

button#orange{
  background-color:orange;
}

button#gray{
  background-color:gray;
  color:white;
}

code {
  font-size:120%;
  font-weight:bold;
  text-decoration:none;
}

code.linked {
  text-decoration:underline;
}
